body {
    max-width: 1190px;
    display: flex;
    margin: auto;
    border: 2px #c4c4c4 solid;
    overflow: visible;
}
p {
    color: #424242;
}

* {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #FDD835;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

/* Colone de gauche */

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FDD835;
}

#photo {
    display: flex;
    margin-top: 20px;
}

aside img {
    display: block;
    max-width: 250px;
    max-height: 250px;
    border: 2px #616161 solid;
    border-radius: 100%;
    margin: 30px auto 30px auto;
}

aside h2 {
    text-align: center;
    color: #FDD835;
    background-color: #616161;
    padding: 10px 0 10px;
}

aside p {
    text-align: justify;
    padding: 30px 25px 30px 25px;
}


aside a {
    text-decoration: none;
    color: white;
}

#hobbies {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto auto 75px;
}

.hobbies_pic {
    max-width: 75px;
    max-height: 75px;
}

.hobbies_pic img {
        border: none;
        border-radius: 0%;
        max-width: 75px;
        max-height: 75px;
}

/* Colone de droite */

#content {
    width: 70%;
    padding: 115px 45px 0 65px;
}

#title {
    padding: 0px 0px 25px;
}

h1 {
    font-size: 50px;
}

h4 {
    font-size: 16px;
    font-weight: inherit;
}

#title_color {
    color: #FDD835;
}

#title p {
    font-size: 30px;
}

#title_border {
    border-bottom: 2px solid;
    border-color: #FDD835;
}

h2 i {
    color: #FDD835;
    margin-right: 40px;
}

#content h2 {
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 2px #FDD835 solid;
}

section {
    display: flex;
    flex-direction: column;
}

.container, .container2, .container3 {
    display: flex;
    padding-bottom: 45px;
    justify-content: space-around;
}

.period {
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
}

.period i {
    color: #ffcf00;
    margin-right: 15px;

}

.period {
    width: 30%;
}

.description {
    width: 70%;
}

.period p, h3 {
    margin: 0px;
}

.ref {
      margin: 0px;
}

.ref i {
    color: #ffcf00;
    margin-right: 15px;
}

.ref h3, p {
    margin-bottom: 10px;
}

/* Media Queries - responsive */

@media screen and (max-width: 1024px) {
    
    body {
        margin-top: 250px;
        border: none;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    aside p {
        padding: 30px 25px 30px 25px;
        text-align: center;
    }
    #title {
        position: absolute;
        text-align: center;
        top: 0px;
        left: 0px;
        right: 0px;
        margin: 15px auto 0px auto;
    }

    #photo {
        display: flex;
        margin: 60px 80px 40px 80px;
    }

    h2 .fas {
        display: none;
    }

    h2 {
        text-align: center;
    }

    .container .description {
        margin: 0px 0px 20px 0px;
    }

    .container2, .container3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container2 .period {
        width: 100%;
        text-align: center;
    }

    .container2 h3, .container2 h4 {
        margin: 20px auto 20px 0px;
        text-align: center;
    }

    .description {
        margin: 20px 0px 20px 0px;
        text-align: justify;
    }

    .container3 {
        text-align: center;
    }

    .ref {
        margin-bottom: 20px;
    }
    #bas {
        position: absolute;
        top: 3000px;
        background-color: #FDD835;
        margin-bottom: 30px;
    }
    
}
@media screen and (max-width: 768px) {

   .description {
        margin: 20px 0px 20px 0px;
        text-align: justify;
        width: 100%;
    }

    #bas {
        display: none;
    }
}